# Ignore node_modules, as they should be installed inside the container
node_modules

# Ignore local development files
.env
.env.local
npm-debug.log
Dockerfile
.dockerignore

# Ignore Next.js build artifacts
.next

# Ignore Git files
.git
.gitignore